/*Reset*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}

html,body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.7em;

}

a{
    color:#333;
    text-decoration: none;
}

h1,h2,h3{
    padding-bottom: 20px;
}

p{
    margin:10px 0 ;
}

/*utility classes*/
.container{
    margin: auto;
    max-width: 1100px;
    overflow: auto;
    padding: 0 20px;
    
}

.text-primary{
    color:green
}

.lead{
    font-size: 20px;

}

.btn{
    display: inline-block;
    font-size: 18px;
    color: black;
    background: #eee8e2;
    padding: 13px 20px;
    border: none;
cursor: pointer;

}
.btn:hover{
    background:green ;
    color: #333;

}
#bg-dark{
    background: #e7caae ;
    color: rgb(22, 21, 21);
}
.bg-light{
    background:#e7caae ;  
    color:rgb(22, 21, 21);
}

.bg-light:hover{
    background-color: green;
    color: white;
}

.bg-primary{
    background:#c2bebe ;
    color:rgb(75, 72, 69) ;
}

.bg-primary:hover{
    background-color: green;
    color: white;
}
.clr{
    clear:both;
}

/*navber*/
#navbar {
background: #333;
color: #fff;
overflow: auto;
    
}

/* Padding*/
.py-1{ padding: 10px 0px;}
.py-2{ padding: 20px 0px;}
.py-3{ padding: 30px 0px;}
#navbar a{
color:#fff ;
}

#navbar h1{
    float: left;
    padding-top: 20px;
}

#navbar ul{
    list-style: none;
    float: right;
}
#navbar ul li{
    float: left;
}
#navbar ul li a{
    display: block;
    padding: 20px;
    text-align: center;
}
#navbar ul li a:hover ,
 #navbar ul li a.current{
    background: #444;
    color: #f7c08a;
}
/* showcae*/
#showcase{

    background:url('New folder/pexels-pixabay-271624.jpg') no-repeat center center/cover ;
    height: 600px;
}

#showcase .content{
    color: #fff;
    text-align: center;
    padding: top 170px; 
}
#showcase .content h1{
    font-size: 60px;
    line-height: 1.2em;
}
#showcase .content p{
    padding-bottom: 20px;
    line-height: 1.7em;
}
/*home info*/
.home-info{
    height: 400px;

}
.home-info .info-img{
    float: left;
    width: 50%;
    background: url('New folder/new.jpg') no-repeat ;
    min-height: 100%;
    background-size: cover;
    background-position: center;
}
.home-info .info-content{
    float: right;
    width: 50%;
    height: 100%;
    text-align: center;
    padding: 50px 30px;
    overflow: hidden;
}
.home-info .info-content p{
    padding-bottom: 30px;
}
.box{
    float: left;
    width: 33.3%;
    padding: 50px;
    text-align: center;
}

/* about Info */
#about-info .info-right{
    float: right;
    width: 50%;
    /* min-height:500px ; */
}
#about-info .info-right img{
    display: block;
    width: 70%;
    margin: auto;
    padding: 100px 0;
    /* clip-path: circle(50%); */
    border-radius: 50%;
   width: 300px;
   height: 500px;
   
    
}
#about-info .info-left{
    float: left;
    width: 50%;
    min-height: 100%;
}
#about-info{
    background-color: white;
}
#about-info:hover{
    background-color: white;
    color: black;
}

/* Testimonial */
#testimonials{
    height: 900px;
    background: url('New folder/pexels-thorsten-technoman-109353-338504.jpg') no-repeat center center/cover;
    padding-top: 40px;

}

#testimonials h2{
  color:green; 
  text-align: center;
  padding-bottom: 40px;
  
}

.testimonial img{
height: 200px;
width: 100px;
opacity: 1;


}
.testimonial{
    background-color: #f3b77a;
    height: 400px;
    border: solid;
    opacity: 0.8;
}
.testimonial1{
    background-color: #f3b77a;
    height: 400px;
    border: solid green;
    opacity: 0.8;
}

.testimonial1 img{
    height: 200px;
    width: 100px;
    opacity: 1;
    }

/* contract form*/
#contract-form .form-group{
    margin-bottom: 20px;
  
}
.form-group{
    color: black;
}
#contract-form label{
    display: block;
    margin-bottom: 5px;
}
#contract-form input,
#contract-form textarea{
    width: 100%;
    padding: 10px;
    border: 1px #ddd solid;
}
#contract-form textarea{
    height: 200px;
}

#contract-form input:focus,
#contract-form textarea:focus{
    outline: none;
    border-color: #f7c08a;
}

/*footer*/
#main-footer{
text-align: center;
background: #444;
color: #fff;
padding: 20px;
}
#main-footer:hover{
    /* background-color: rgb(7, 129, 129); */
    color: white;
}
/* Billing System */
body{
    /* background-color: #1d2630; */
}
*{
    color: #fff;
}
#cart-tablet th,
#cart-table td {
    text-align: center;
}
#total-cost{
    font-size: 24px;
    font-weight: bold;
}
@media print{
    .no-print {
        display: none;
    }
}
.row{
    background-color: #1d2630;
}
.table{
    background-color: #1d2630;   
}
/* Room Management */
.hab img{
    height: 500px;
    width: 50%;
    padding: 10px;
    float: left;
}
.hab img:hover{
    /* background-color: green; */
    
}
h1{
    color: green;
    text-align: center;
}
h3{
    color: blue;
    text-align: center;
}
h2{
    color: blue;
    text-align: center;
}
h4{
    color:red;
    background-color: #02c85b;
    width: 180px;
}
.bed h4{
    color:blue;
    width: none;
  
}
p{
    color: white;
 
}
.bed{
    background-color: gray;
}
.diver{
    background:url('New folder/h2.jpg') no-repeat center center/cover ;
    height: 600px;
    padding: 70px 300px;
    text-align: center;
}
.offer{
    height:500px ;
    width: 700px;
    background-color: rgb(216, 214, 202);
  padding: 10px;
  opacity: 0.8;
}
.list ul li{
    /* float: left; */
    color:black;
    list-style-type: none;
    margin: 0px;
    padding: 7px;

}
.list ul{
    float: left;
   
}
.list{
    text-align: center;
}
.submit a{
    background-color: tomato;
   
}
.submit{
    height: 50%;
}
/* Describtion */
.des{
    background-color: green;
    height: 100px;
    width: 100%;
}
.des H1{
    color: white;
}
.des li{
    text-align: center;
    background-color: black;
    
    
}
.des li a{
    /* background-color: black; */
    color: white;
}
/* Chack in */
.main-top{
    height: 600px;
    background:url('New folder/ha.jpg') no-repeat center center/cover ;
}
.check-in{
    text-align: center;
    padding: 100px;
    height: 100px;
}
.check-in a{
    background-color: green;
    color: white;
    height: 100px;
}
.check-out{
    text-align: center;
    padding: 100px;
}
.check-out a{
    background-color: red;
    color: white;
   
}
.check-in a:hover{
   background-color: red;
}
.check-out a:hover{
    background-color: green;
}
/*Registration*/
body{
    background-color: #c9d6ff;
    background: linear-gradient(to right, #e2e2e2,#c9d6ff);
}
.login{
    background:#fff;
    width: 450px;
    padding: 1.5rem;
    margin: 10px auto;
    border-radius: 10px;
box-shadow: 0 20px 35px rgba(0,0,1,0.5 );
}

.fas{
    color: #333;
}
.or{
    color: black;
}
.icons i{
    color: black;
}
.links p{
    color: #1d2630;
}
.links #singInButton{
    color: black;
}
form{
    margin: 0 2rem;
}
.form-title{
    font-size:1.5rem;
    font-weight: bold;
    text-align: center;
    padding: 1.3rem;
    margin-bottom: .4rem;
}
input{
    color: inherit;
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #757575;
    padding-left: 1.5rem;
    font-size: 15px;

}
.input-group{
    padding: 1% 0;
    position: relative;

}
.input-group i{
    position: absolute;
    color: black;
}
input:focus{
    background-color: transparent;
    outline: transparent;
    border-bottom: 2px solid hsl(327, 90%, 28% );
}
input::placeholder{
    color: transparent;
}
label{
    color: #757575;
    position: relative;
    left: 1.2rem;
    top: 1.3rem;
    cursor: auto;
    transition: 0.3s ease all;
}
input:focus~label,input:not(:placeholder-shown)
{
    top:-3em;
    color: hsl(327, 90%, 28% );
    font-size: 15px;
}
.recover{
    text-align: right;
    font-size: 1rem;
    margin-bottom: 1rem;
}
.recover a{
    text-decoration: none;
    color:rgb(125, 125, 2235);
}
.recover a:hover{
    color: blue;
    text-decoration: underline;
}
.btn{
    font-size: 1.1rem;
    /* padding: 8px 0; */
    border-radius: 5px;
    outline: none;
    /* width: 100%; */
    background: rgb(125, 125, 235);
    color: white;
    cursor: pointer;
    transition: 0.9s;
}
.or{
    font-size: 1.1rem;
    margin-top: .5rem;
    text-align: center;
}